.users{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wrapper{
    width: 30%;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
    border: 1px solid rgba(128, 128, 128, 0.17);
}
.wrapper .right{
    width: 65%;
    background: #fff;
    padding: 30px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


